@charset "utf-8";

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.wrapper {
  max-width: 400px;
  margin: 0 auto;
}

header {
  background-color: #141f40;
  height: 100px;
  position: relative;
}

.nav {
  background-color: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
}

.list-box {
  background-color: #a9004b;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  float: left;
}

.list-box:first-child {
  margin-left: 0;
}

.box1 {
  background-color: #80bfa8;
  height: 250px;
  width: 150px;
  float: left;
}
.box2 {
  background-color: #8c2727;
  height: 250px;
  width: 250px;
  float: left;
  position: relative;
}
.box3 {
  position: absolute;
  top: 40px;
  left: 60px;
}

.white-box {
  margin-bottom: 10px;
}

.orange-box {
  background-color: #ff863f;
  width: 140px;
  height: 40px;
  border: 5px solid #fff;
  box-sizing: border-box;
}

footer {
  height: 100px;
  background-color: #d98d30;
}